<div class="assortment assortment-bg-burgundy" style="background-color: {{color}}">
	<div class="assortment__img">
		<a href="#">
			<img src="images/assortments/{{img}}" alt="">
		</a>
	</div>
	<div class="assortment__content">
		<div class="assortment__content-title h3">
			<a href="#">
				{{title}}
			</a>
		</div>
		<div class="assortment__content-text">
			{{text}}
		</div>
	</div>
</div>
