<div class="brand">
	<a href="#" class="brand__logo">
		<img src="/images/brands/{{img}}" alt="">
	</a>
	<h2 class="brand__title h3">
		{{title}}
	</h2>
	<p class="brand__text">
	 {{text}}
	</p>
</div>
