<aside class="catalog">
               <div>
                  <a href="#" class="catalog__btn">
                     Каталог товаров </a>
               </div>
               <div class="catalog__title">
                  Эксклюзивные продукты
               </div>
               <ul class="catalog__list">
                  <li class="catalog__list-item">
                     <a href="#">
                        Говядина бескостная
                     </a>
                  </li>
                  <li class="catalog__list-item">
                     <a href="#">
                        Говядина на кости
                     </a>
                  </li>
                  <li class="catalog__list-item">
                     <a href="#">
                        Полуфабрикаты из говядины
                     </a>
                  </li>
                  <li class="catalog__list-item">
                     <a href="#">
                        Субпродукты говяжьи
                     </a>
                  </li>
                  <li class="catalog__list-item">
                     <a href="#">
                        Фарши
                     </a>
                  </li>
               </ul>
            </aside>