<aside class="help__aside">
	<ul>
		<li class="help__aside-item">
			<a href="#">
				Доставка
			</a>
		</li>
		<li class="help__aside-item">
			<a href="#">
				Как сделать заказ
			</a>
		</li>
		<li class="help__aside-item">
			<a href="#">
				Зоны и стоимость доставки
			</a>
		</li>
		<li class="help__aside-item">
			<a href="#">
				Дата и время заказа
			</a>
		</li>
		<li class="help__aside-item">
			<a href="#">
				Оплата заказа
			</a>
		</li>
		<li class="help__aside-item">
			<a href="#">
				Корректировка заказа
			</a>
		</li>
		<li class="help__aside-item">
			<a href="#">
				Служба качества
			</a>
		</li>
		<li class="help__aside-item">
			<a href="#">
				Часто задаваемые вопросы
			</a>
		</li>
	</ul>
</aside>
