<aside class="help__aside">
	<ul>
		<li class="help__aside-item">
			<a href="help-delivery.html">
				Доставка
			</a>
		</li>
		<li class="help__aside-item">
			<a href="help-order.html">
				Как сделать заказ
			</a>
		</li>
		<li class="help__aside-item">
			<a href="help-price.html">
				Зоны и стоимость доставки
			</a>
		</li>
		<li class="help__aside-item">
			<a href="help-date.html">
				Дата и время заказа
			</a>
		</li>
		<li class="help__aside-item">
			<a href="help-payment.html">
				Оплата заказа
			</a>
		</li>
		<li class="help__aside-item">
			<a href="help-adjustment.html">
				Корректировка заказа
			</a>
		</li>
		<li class="help__aside-item">
			<a href="help-quality.html">
				Служба качества
			</a>
		</li>
		<li class="help__aside-item">
			<a href="help-question.html">
				Часто задаваемые вопросы
			</a>
		</li>
	</ul>
</aside>
