<div class="pagination">
	<a href="#" class="pagination__button btn btn--size-xl btn--theme-blue">
		Показать ещё
	</a>

	<div class="pagination__list">
		<a href="#">1</a>
		<a href="#">2</a>
		{{pages}}
		<a href="#">Вперёд ></a>
	</div>
</div>
