<div class="sale">
	<div class="sale__img">
		<a href="#">
			<img src="images/stocks/{{img}}" alt="">
		</a>
	</div>
	<div class="sale__content">
		<div class="h3">
			<a href="#">
				{{title}}
			</a>
		</div>
		<div class="sale__text">
			{{text}}
		</div>
		<div>
			<a href="#" class="btn btn--size-sm btn--theme-transparent sale__btn">
				Подробнее
			</a>
		</div>
	</div>
</div>
