<div class="socials">
	<span>
		Поделиться с друзьями
	</span>
	<a href="https://www.facebook.com/">
		<img src="images/socials/gifts-fb.svg" alt="">
	</a>
	<a href="https://www.vk.com/">
		<img src="images/socials/gifts-vk.svg" alt="">
	</a>
	<a href="https://www.twitter.com/">
		<img src="images/socials/gifts-twitter.svg" alt="">
	</a>
</div>
