.catalog {
   max-width: 270px;
   flex: 0 0 270px;

   &__btn {
      color: $color-blue !important;
      background: rgba(137, 202, 205, 0.2);
      border-radius: 8px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      padding: 0 10px;
      font-size: 15px;
      transition: opacity .2s ease-in;

      &:hover {
         opacity: .8;
      }
   }

   &__title {
      margin: 30px 0 15px 0;
      font-size: 20px;
   }

   &__list {
      list-style-type: none;
      padding: 0;
      font-size: 15px;

      &-item:not(:last-child) {
         margin-bottom: 10px;
      }
   }
}