.help__block {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;

   &-title {
      margin: 20px 0;

      & a:hover {
         color: black;
      }
   }

   &-text {
      color: $color-gray;
      margin-bottom: 20px;
      max-width: 300px;

      ul {
         margin-left: 17px;
      }
   }
}