.question {
   background: #EFF3F6;
   border-radius: 12px;
   padding: 25px 45px 25px 25px;
   position: relative;
   margin-bottom: 10px;

   &__title {
      font-size: 20px;
      display: flex;
      justify-content: space-between;

      span {
         padding-right: 20px;
      }
   }

   &__text {
      color: $color-gray;
      padding: 15px 30px 0 0;
      display: none;
   }

   svg {
      transition: .3s;
      max-width: 32px;
      flex: 0 0 32px;
   }

   &.active {
      .question__title {
         svg {
            transform: rotate(180deg);
         }
      }
   }
}