{% extends "templates/base.twig" %}

{% block title %}
О нас
{% endblock %}

{% block content %}

<section class="about">
   <div class="container">
      <div class="breadcrumbs">
         <ul>
            <li>
               <a href="#">Главная</a>
            </li>
            <li>
               <span>О компании</span>
            </li>
         </ul>
      </div>
      <h2 class="about__title title">
         О компании СПК
      </h2>
      <div class="about__content row">
         <div class="col-lg-6">
            <div class="about__content-text">
               <p>
                  <b>Spkmarket.ru
                  </b>
                  — интернет-магазин «Сибирской продовольственной компании». СПК — крупный
               </p>

               <p>
                  На нашем сайте для потребителей вы можете узнать больше информации
                  <a href="#">
                     о нашей и о высоких на нашем производстве.
                  </a>
               </p>
               </p>
            </div>
         </div>
         <div class="col-md-5">
            <div class="about__content-img">
               <img src="/images/about/img-big.jpg" alt="">
            </div>
         </div>
      </div>

      <div class="brands">
         <h2 class="brands__title">
            Наши торговые марки
         </h2>
         <div class="row">
            <div class="col-md-6">
               {% include "components/brand.twig" with {
               img:'logo-1.png',
               title :'Сибирская продовольственная компания',
               text : 'Наша основная марка, которая объединила
               в себе базовый ассортимент и линейку для гурманов «Высокий Вкус».
               Базовую линейку представляют классические продукты (колбасы, сыры, мясо и мясная консервация)
               на каждый день по разумной цене, которые идеально дополнят ваш завтрак или обед.
               «Высокий Вкус» — это коллекция колбас и сыров с изысканными вкусами.'
               } %}
            </div>
            <div class="col-md-6">
               {% include "components/brand.twig" with {
               img:'logo-2.png',
               title :'Elicatesse Celebration',
               text : 'Это изысканные продукты из отборного мяса наивысшего качества, которые создают атмосферу
               и настраивают на удовольствие — от еды, отдыха и общения. В коллекцию Elicatesse входят сыровяленые
               колбасы в благородной белой плесени, которые производятся по итальянским технологиям, оригинальные
               сырокопченые колбасы, а также деликатесы и колбасы в формате нарезки.'
               } %}
            </div>
            <div class="col-md-6">
               {% include "components/brand.twig" with {
               img:'logo-3.png',
               title :'Большая SOSиска',
               text : 'Революционная фишка на рынке мясных продуктов. В линейку BIGSOS включены сочные
               мясные сосиски с разными вкусами и колбаски для жарки, так полюбившиеся всем.
               Это интересные, качественные продукты, которые помогают разнообразить ежедневное питание и сделать его
               веселее.
               Приручи свой голод!'
               } %}
            </div>
            <div class="col-md-6">
               {% include "components/brand.twig" with {
               img:'logo-4.png',
               title :'Мясоделов',
               text : 'Торговая марка СПК, в ассортименте которой представлены мясо, мясные и рубленые полуфабрикаты
               из говядины и баранины собственного производства. Продукция производится из отборного мяса животных,
               выращенных
               в предгорье,
               на сочных зеленых лугах экологически чистых регионов Горного Алтая и Новосибирской области.'
               } %}
            </div>
            <div class="col-md-6">
               {% include "components/brand.twig" with {
               img:'logo-5.png',
               title :'LakiDog',
               text : 'Это полезные, натуральные и безопасные продукты для ваших питомцев.
               Лакомства и консервы для собак изготовлены из натурального мясного сырья из Горного Алтая,
               и проходят ветеринарный контроль на всех этапах изготовления.
               Широкий ассортимент вкусов позволяет разнообразить питание и поощрение питомца.'
               } %}
            </div>
         </div>
      </div>
   </div>

</section>

{% endblock %}