{% extends "templates/base.twig" %}

{% block title %}
Gifts
{% endblock %}

{% block content %}

<section class="gifts">
   <div class="container">
      <div class="breadcrumbs">
         <ul>
            <li>
               <a href="#">Главная</a>
            </li>
            <li>
               <span>Вдохновляющие идеи</span>
            </li>
            <li>
               <span>
                  Подарки на любой вкус
               </span>
            </li>
         </ul>
      </div>
      <h2 class="title">
         Подарки на любой вкус
      </h2>
      <div class="page__subtitle">
         Порадуйте своих близких
      </div>
      <div class="gifts__content">
         <div class="gifts__content-img-big">
            <img src="/images/gifts/img-big.jpg" alt="product">
         </div>
         <div class="container-narrow">
            <div class="text-normal">
               Носки, шампуни, сковородки, кухонные полотенца и пена для бритья уже давно стали объектом для шуток</div>
            <div class="text-thin">
               В spkmarket. ru появились эксклюзивные подарочные наборы, которые отлично подойдут к любому поводу. деле
               набором «Спасибо».
            </div>
            <div class="gifts__content-img-small">
               <img src="/images/gifts/img-small.jpg" alt="product">
            </div>
            <div class="gifts__content-text-thin text-thin">
               Еще одно преимущество подарочных наборов СПК: покупать их гораздо выгоднее, чем продукты
            </div>
            {% include "components/socials.twig" %}
         </div>
      </div>
      <div class="products">
         <div class="products__top">
            <h2 class="products__title">
               Товары из статьи
            </h2>
            <div>
               <a href="#" class="btn btn--size-sm btn--theme-transparent">
                  Перейти в каталог
               </a>
            </div>
         </div>
         <div class="product__row row">
            <div class="col-20 col-md-4 col-sm-6 product__col">
               {% include "components/product.twig" with {
               img : 'product-1.jpg',
               title : 'Новогодний подарочный набор «Эликатессе»',
               weight: '~0,9 кг',
               about: 'В наличии',
               price : '1 080 ₽',
               btn : 'btn.svg',
               } %}
            </div>
            <div class="col-20 col-md-4 col-sm-6 product__col">
               {% include "components/product.twig" with {
               img : 'product-2.jpg',
               title : 'Новогодний подарочный набор «Особый случай»',
               weight: '~1,03 кг',
               about: 'В наличии',
               price : '960 ₽',
               btn : 'btn.svg',
               } %}
            </div>
            <div class="col-20 col-md-4 col-sm-6 product__col">
               {% include "components/product.twig" with {
               img : 'product-3.jpg',
               title : 'Новогодний подарочный набор «Эликатессе»',
               weight: '~1,755 кг',
               about: 'В наличии',
               price : '804 ₽',
               btn : 'btn.svg',
               } %}
            </div>
            <div class="col-20 col-md-4 col-sm-6 product__col">
               {% include "components/product.twig" with {
               img : 'product-4.jpg',
               title : 'Новогодний подарочный набор «Эликатессе»',
               weight: '~0,7 кг',
               about: 'Менее 10 шт.',
               yellow:'#BD732C',
               price : '1 080 ₽',
               btn : 'btn.svg',
               } %}
            </div>
            <div class="col-20 col-md-4 col-sm-6 product__col">
               {% include "components/product.twig" with {
               img : 'product-5.jpg',
               title : 'Новогодний подарочный набор «Эликатессе»',
               weight: '~0,9 кг',
               about: 'В наличии',
               price : '1 080 ₽',
               btn : 'btn.svg',
               } %}
            </div>
         </div>
      </div>

      <div class="ideas">
         <div class="ideas__top">
            <h2 class="page__title ideas__title">
               Другие вдохновляющие идеи
            </h2>
            <div>
               <a href="#" class="btn btn--size-sm btn--theme-transparent">
                  Все идеи
               </a>
            </div>
         </div>
         <div class="assortments row">
            <div class="col-xl-3 col-md-6 col-6">
               {% include "components/assortment.twig" with {
               img: 'assortment-1.png',
               title: 'Вкус праздника',
               color: '#5D251F',
               text: 'Интересные идеи праздничных блюд на Новый год',
               } %}
            </div>
            <div class="col-xl-3 col-md-6 col-6">
               {% include "components/assortment.twig" with {
               img: 'assortment-6.png',
               title: 'Месье Оливье',
               color :'#BF573F',
               text: '5 рецептов главного новогоднего салата',
               } %}
            </div>
            <div class="col-xl-3 col-md-6 col-6">
               {% include "components/assortment.twig" with {
               img: 'assortment-3.png',
               title: 'Праздники и вечеринки',
               color :'#BF573F',
               text: '10 идей как оформить закуски',
               } %}
            </div>
            <div class="col-xl-3 col-md-6 col-6">
               {% include "components/assortment.twig" with {
               img: 'assortment-5.png',
               title: 'Легко и просто',
               color :'#D98F4E',
               text: 'Легкие фуршетные закуски',
               } %}
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock %}