{% extends "templates/base.twig" %}

{% block title %}
Help-quality
{% endblock %}

{% block content %}

<div class="help">
   <div class="container">
      <div class="breadcrumbs">
         <ul>
            <li>
               <a href="#">Главная</a>
            </li>
            <li>
               <span>Помощь покупателю</span>
            </li>
         </ul>
      </div>

      <h2 class="page__title help__title-mobile title">
         Помощь покупателю
      </h2>

      <div class="help__slider">
         <span>Помощь покупателю</span>
         <a class="help__slider-item">
            Служба качества
         </a>
      </div>

      <div class="help__wrapper">
         {% include "components/help-aside.twig" %}
         <div class="help__content quality">
            <div class="help__title">
               Служба качества
            </div>
            <div>
               Мы тщательно отслеживаем качество нашей продукции на всех этапах производства. Если у вас все же
               возникли вопросы по качеству полученной продукции, вы можете обратиться на нашу горячую линию
               по телефону
               8 800 100 85 15, и мы сделаем все, чтобы разрешить ситуацию.
            </div>
            <div class="help__heading h3">
               Возврат качественного товара
            </div>
            <div>
               <p class="help__text-indent">
                  В соответствии с действующим законодательством (п. 1 ст. 18, п. 1 ст. 25) Закона РФ «О защите
                  прав
                  потребителей» от 07.02.1992 N 2300-1
                  <b>
                     продовольственные товары надлежащего качества возврату
                     и
                     обмену не подлежат.</b>
               </p>
               <p>
                  В соответствие с включением кода ТН ВЭД 2309В в Единый перечень товаров, подлежащих
                  ветеринарному
                  контролю (надзору), утвержденного Решением Комиссии Таможенного союза от 18.06.2010 № 317
                  продукты,
                  используемый для кормления животных относятся к продовольственным товарам.
               </p>
            </div>
            <div class="help__heading h3">
               Возврат и обмен некачественного товара
            </div>
            <div>
               Условия обмена и возврата товара ненадлежащего качества регулируются ст. 18- 24 Закона РФ «О защите
               прав потребителей»
               от 07.02.1992 г. № 2300-1.
            </div>
            {% include "components/help-info.twig" with {
            text: '
            <p>Внешний вид товара, а также состав всего заказа должны быть проверены покупателем в момент получения
               товара при курьере. </p>
            '
            } %}
            <div class="help__text-indent">
               Если Вам был передан товар ненадлежащего качества, и оно не было заранее оговорено продавцом, вы
               вправе воспользоваться положениями ст. 18 Закона РФ «О защите прав потребителей»:
            </div>
            <div class="help__text-indent">
               <ul>
                  <li>потребовать замены на товар того же наименования;</li>
                  <li>отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за товар
                     суммы.
                     По требованию продавца и за его счет покупатель должен возвратить товар ненадлежащего
                     качества.</li>
               </ul>
            </div>
            <div class="help__text-indent">
               Для возврата или обмена товара ненадлежащего качества вы можете обратиться к нам по телефону
               горячей
               линии:
               <a href="#">8 800 100 85 15</a>, набрав 2 в тональном режиме (звонок на территории РФ бесплатный)
               или через форму
               «ОТПРАВИТЬ СООБЩЕНИЕ» на
               <a href="#">сайте интернет-магазина.</a>
            </div>
            <div class="help__text-indent">
               При обращении следует указать подробное описание причины возврата или замены данного товара.
               Обязательно нужно указать ваши контактные данные (ФИО, телефон) и номер заказа. Если потребуются
               более
               подробная информация, менеджер обязательно свяжется с вами по указанному номеру телефона
               (электронной
               почты).
            </div>
            <div class="help__text-indent">
               Все претензии по товару рассматриваются в течение 10 (десяти) календарных дней с момента их
               предъявления.
               В случае возврата товара ненадлежащего качества, все расходы на доставку и замену товара
               осуществляются интернет-магазином.
            </div>
            {% include "components/help-info.twig" with {
            text: '
            <p>При оформлении возврата любого товара вам необходимо предъявить чек или накладную.</p>
            '
            } %}
            <div class="help__heading h3">
               Возврат денежных средств
            </div>
            <div class="help__text-indent">
               Возврат денежных средств осуществляется в течение 10 (десяти) календарных дней со дня предъявления
               покупателем соответствующего требования (скачать
               <a href="#">Заявление о возврате денежных
                  средств</a>
               ).
            </div>
            <div class="help__text-indent">
               <b>При наличном расчете</b>
               возврат денежных средств осуществляется через кассу ООО «Сибирская
               продовольственная компания» по адресу: г. Новосибирск, ул. Дуси Ковальчук, 1 при предъявлении
               документа, удостоверяющего личность.
            </div>
            <div class="help__text-indent">
               <b>В случае оплаты заказа банковской картой</b>
               возврат средств производится на карту, с которой
               совершена
               оплата. Покупатель несет ответственность за достоверность указанных им реквизитов для возврата
               денежных средств.
            </div>
            <div class="help__text-indent mb-0">
               Если у вас возник вопрос, позвоните нам, пожалуйста, по телефону горячей линии:
               <a href="#">8 800 100 85 15</a>,
               набрав 2 в тональном режиме (звонок на территории РФ бесплатный) или напишите нам через форму
               «ОТПРАВИТЬ СООБЩЕНИЕ» на
               <a href="#">сайте интернет-магазина.</a>
            </div>
         </div>
      </div>

   </div>
</div>


{% endblock %}