{% extends "templates/base.twig" %}

{% block title %}
	Help-adjustment
{% endblock %}

{% block content %}

	
      <div class="help">
         <div class="container">
            <div class="breadcrumbs">
               <ul>
                  <li>
                     <a href="#">Главная</a>
                  </li>
                  <li>
                     <span>Помощь покупателю</span>
                  </li>
               </ul>
            </div>
            <h2 class="page__title help__title-mobile title">
               Помощь покупателю
            </h2>
            <div class="help__slider">
               <span>Помощь покупателю</span>
               <a class="help__slider-item">
                  Корректировка заказа
               </a>
            </div>
            <div class="help__wrapper">
             		{% include "components/help-aside.twig" %}
               <div class="help__content">
                  <div class="help__title mb-0">
                     Корректировка заказа
                  </div>
                  <div class="help__heading h3">
                     Изменение заказа
                  </div>
                  <div class="adjustment__text adjustment__text-top">
                     <p class="help__text-indent">
                        Если вы хотите изменить заказ: добавить новые наименования продукции либо отказаться от части
                        заказа, вы можете это сделать <b> только до отгрузки его со склада!</b>
                     </p>
                     <span> Отгрузка заказов со склада и передача их курьеру осуществляется:</span>
                     <ul class="help__text-indent">
                        <li><b>В 9:00</b> при доставке с 10:00 до 14:00;</li>
                        <li><b>В 13:00</b> при доставке с 14:00 до 18:00;</li>
                        <li><b>В 17:00</b> при доставке с 18:00 до 22:00.</li>
                     </ul>

                     <p>
                        Вы можете изменить Ваш заказ по телефону горячей линии <a href="#">8 800 100 85 15</a>, набрав
                        1 в тональном режиме (звонок на территории РФ бесплатный).
                     </p>
                  </div>

                  <div class="help__heading h3">
                     Отказ от покупки заказа или части заказа
                  </div>
                  <div class="adjustment__text">
                     <p class="help__text-indent">
                        Вы можете отменить заказ или отказаться от его части (в соответствии с п. Возврат и обмен
                        некачественного товара в разделе «Служба качества») в любой момент до передачи его вам, в том
                        числе в
                        момент приезда курьера.
                     </p>
                     <p class="help__text-indent">
                        Просим вас с уважением относиться к работе сотрудников интернет-магазина и по возможности
                        принимать
                        решение об отказе от товара до его отправки.
                     </p>
                     <span> Отгрузка заказов со склада и передача их курьеру осуществляется:</span>
                     <ul>
                        <li><b>В 9:00</b> при доставке с 10:00 до 14:00;</li>
                        <li><b>В 13:00</b> при доставке с 14:00 до 18:00;</li>
                        <li><b>В 17:00</b> при доставке с 18:00 до 22:00.</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>


{% endblock %}
