{% extends "templates/base.twig" %}

{% block content %}

<a class="link" href="stocks.html">Акции СПК</a>
<a class="link" href="stocks-cabinet.html">Кабинет</a>
<a class="link" href="ideas.html">Вдохновляющие идеи</a>
<a class="link" href="gifts.html">Подарки на любой вкус</a>
<a class="link" href="about.html">О компании СПК</a>
<a class="link" href="special.html">Эксклюзивные продукты с доставкой</a>
<a class="link" href="exclusive.html">Эксклюзивные продукты</a>
<a class="link" href="help-delivery.html">Доставка</a>
<a class="link" href="help-order.html">Как сделать заказ</a>
<a class="link" href="help-price.html">Зоны и стоимость доставки</a>
<a class="link" href="help-date.html">Дата и время заказа</a>
<a class="link" href="help-payment.html">Оплата заказа</a>
<a class="link" href="help-adjustment.html">Корректировка заказа</a>
<a class="link" href="help-quality.html">Служба качества</a>
<a class="link" href="help-question.html">Часто задаваемые вопросы</a>

{% endblock %}