<header class="header">
   <div class="container">
      <div class="header__row">
         <div class="header__left">
            <div class="logo">
               <a href="index.html">
                  <img src="/images/logo.svg" alt="logo">
               </a>
            </div>

            <nav class="header__nav">
               <ul>
                  <li>
                     <a href="#" class="btn btn--size-xs btn--theme-transparent header__nav-btn">
                        <img src="/images/icon/catalog.svg" alt="catalog">
                        Каталог
                     </a>
                  </li>

                  <li>
                     <a href="stocks.html">
                        <img src="images/icon/procent.svg" alt="procent">
                        Акции
                     </a>
                  </li>

                  <li>
                     <a href="exclusive.html">Эксклюзивные продукты</a>
                  </li>

                  <li>
                     <a href="help-delivery.html">Доставка и оплата</a>
                  </li>

                  <li>
                     <a href="about.html">О компании</a>
                  </li>

                  <li>
                     <a href="#">Контакты</a>
                  </li>
               </ul>
            </nav>

            <div class="header__mobile">
               <div class="header__mobile-search">
                  <input type="text" placeholder="Поиск по сайту">
               </div>
               <img src="./images/icon/burger.svg" alt="">
            </div>
         </div>

         <div class="header__actions">
            <a href="#" class="header__action header__action--search">
               <span>
                  Поиск
               </span>
            </a>
            <a href="#" class="header__action header__action--favorite">
               <div class="header__action-icon">
                  1
               </div>
               <span>
                  Избранное
               </span>
            </a>
            <a href="#" class="header__action header__action--cabinet">
               <span>
                  Кабинет
               </span>
            </a>
            <a href="#" class="header__action header__action--basket">
               <div class="header__action-icon">
                  6
               </div>
               <span>
                  1 703,30 ₽
               </span>
            </a>
         </div>
      </div>
   </div>
</header>